args
asttokens
attrs
backcall
Bottleneck
Brotli
certifi
cffi
charset-normalizer
clint==0.5.1
comm
contourpy
cryptography
cycler
debugpy
decorator
exceptiongroup
executing
#fa2
fastjsonschema
filelock
fonttools
gmpy2
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipywidgets
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab-widgets
kaleido
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mkl-fft
mkl-random
mkl-service==2.4.0
mpmath
munkres==1.1.4
nbformat
nest-asyncio
networkx
numexpr
numpy==1.26.4 
#opencv-python
packaging
pandas==2.1.1 
parso
pexpect
pickleshare
Pillow
platformdirs
plotly
ply==3.11
processing-py==0.3.7
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyOpenSSL
pyparsing
PyQt5==5.15.9
PyQt5-sip==12.12.2
PySocks
pytesseract
python-dateutil
pytz
pyxDamerauLevenshtein==1.7.1
PyYAML
pyzbar==0.1.9
pyzmq
referencing
requests
rpds-py
scipy==1.11.3
sip
six
stack-data
sympy
tenacity
#tesserocr==2.7.1
toml
tomli
tornado
tqdm
traitlets
#triton
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
widgetsnbextension
zipp
zxing-cpp==2.2.0
typing_extensions